body {
  display: flex;
  margin: 250px 25%;
  justify-content: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  height: auto;
  width: 260px;
}

footer {
  align-self: center;
  font-size: 12px;
  font-weight: 700;
  color: #42aa42;
  margin-top: 184px;
  font-family: monospace, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: violet;
}
